body
{
  font-family: Arial, sans-serif;
  font-size: .9em;
  margin: 0;
  padding: 0;
}

h1
{
  margin: 0;
  margin-left: 350px;
  padding: 7px 0;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  color: hsl(0, 0%, 50%);
  font-size: 2em;
  background-color: hsl(0, 0%, 95%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

h2
{
  font-weight: normal;
}

.sidepanel
{
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  overflow: auto;
  box-shadow: 1px 0px 5px 0px hsl(0, 0%, 75%);
}
.sidepanel ul
{
  list-style: none;
  padding-left: 36px;
}
.sidepanel h3
{
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}

.folder-button
{
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0 3px;
  border: 0px solid transparent;
  background-color: transparent;
  background-image: -o-linear-gradient(0deg,
                                       hsl(0, 0%, 20%) 0px,
                                       hsl(0, 0%, 20%) 1px),
                    -o-linear-gradient(-90deg,
                                       hsl(0, 0%, 20%) 0px,
                                       hsl(0, 0%, 20%) 1px),
                    -o-linear-gradient(0deg,
                                       hsl(0, 0%, 70%) 0px,
                                       hsl(0, 0%, 70%) 1px,
                                       hsl(0, 0%, 100%) 1px,
                                       hsl(0, 0%, 100%) 10px,
                                       hsl(0, 0%, 70%) 10px,
                                       hsl(0, 0%, 70%) 11px),
                    -o-linear-gradient(-90deg,
                                       hsl(0, 0%, 70%) 0px,
                                       hsl(0, 0%, 70%) 1px,
                                       hsl(0, 0%, 100%) 1px,
                                       hsl(0, 0%, 100%) 10px,
                                       hsl(0, 0%, 70%) 10px,
                                       hsl(0, 0%, 70%) 11px);
  background-image: -webkit-linear-gradient(0deg,
                                            hsl(0, 0%, 20%) 0px,
                                            hsl(0, 0%, 20%) 1px),
                    -webkit-linear-gradient(-90deg,
                                            hsl(0, 0%, 20%) 0px,
                                            hsl(0, 0%, 20%) 1px),
                    -webkit-linear-gradient(0deg,
                                            hsl(0, 0%, 70%) 0px,
                                            hsl(0, 0%, 70%) 1px,
                                            hsl(0, 0%, 100%) 1px,
                                            hsl(0, 0%, 100%) 10px,
                                            hsl(0, 0%, 70%) 10px,
                                            hsl(0, 0%, 70%) 11px),
                    -webkit-linear-gradient(-90deg,
                                            hsl(0, 0%, 70%) 0px,
                                            hsl(0, 0%, 70%) 1px,
                                            hsl(0, 0%, 100%) 1px,
                                            hsl(0, 0%, 100%) 10px,
                                            hsl(0, 0%, 70%) 10px,
                                            hsl(0, 0%, 70%) 11px);
  background-position: 6px 3px, 3px 6px, 1px 2px, 1px 1px;
  background-size: 1px 7px, 7px 1px, 11px 9px, 11px 11px;
  background-repeat: no-repeat;
}

.open > h3 .folder-button
{
  background-image: -o-linear-gradient(-90deg,
                                       hsl(0, 0%, 20%) 0px,
                                       hsl(0, 0%, 20%) 1px),
                    -o-linear-gradient(0deg,
                                       hsl(0, 0%, 70%) 0px,
                                       hsl(0, 0%, 70%) 1px,
                                       hsl(0, 0%, 100%) 1px,
                                       hsl(0, 0%, 100%) 10px,
                                       hsl(0, 0%, 70%) 10px,
                                       hsl(0, 0%, 70%) 11px),
                    -o-linear-gradient(-90deg,
                                       hsl(0, 0%, 70%) 0px,
                                       hsl(0, 0%, 70%) 1px,
                                       hsl(0, 0%, 100%) 1px,
                                       hsl(0, 0%, 100%) 10px,
                                       hsl(0, 0%, 70%) 10px,
                                       hsl(0, 0%, 70%) 11px);
  background-image: -webkit-linear-gradient(-90deg,
                                            hsl(0, 0%, 20%) 0px,
                                            hsl(0, 0%, 20%) 1px),
                    -webkit-linear-gradient(0deg,
                                            hsl(0, 0%, 70%) 0px,
                                            hsl(0, 0%, 70%) 1px,
                                            hsl(0, 0%, 100%) 1px,
                                            hsl(0, 0%, 100%) 10px,
                                            hsl(0, 0%, 70%) 10px,
                                            hsl(0, 0%, 70%) 11px),
                    -webkit-linear-gradient(-90deg,
                                            hsl(0, 0%, 70%) 0px,
                                            hsl(0, 0%, 70%) 1px,
                                            hsl(0, 0%, 100%) 1px,
                                            hsl(0, 0%, 100%) 10px,
                                            hsl(0, 0%, 70%) 10px,
                                            hsl(0, 0%, 70%) 11px);
  background-position: 3px 6px, 1px 2px, 1px 1px;
  background-size: 7px 1px, 11px 9px, 11px 11px;
}

input[type=checkbox]
{
  vertical-align: middle;
}

.test
{
  padding-left: 22px;
}
.test h3:before
{

  content: "T";
  font-weight: bold;
  font-style: italic;
  color: hsl(0, 0%, 70%);
  display: inline-block;
  margin-left: -33px;
  width: 17px;
  padding-left: 16px;
}
.test.selected h3:before
{
  background-image: -o-linear-gradient(-60deg,
                                       hsl(220, 100%, 70%) 0px,
                                       hsl(220, 100%, 70%) 5px,
                                       transparent 6px),
                    -o-linear-gradient(60deg,
                                       hsl(220, 100%, 70%) 0px,
                                       hsl(220, 100%, 70%) 5px,
                                       transparent 6px);
  background-image: -webkit-linear-gradient(-60deg,
                                            hsl(220, 100%, 70%) 0px,
                                            hsl(220, 100%, 70%) 5px,
                                            transparent 6px),
                    -webkit-linear-gradient(60deg,
                                            hsl(220, 100%, 70%) 0px,
                                            hsl(220, 100%, 70%) 5px,
                                            transparent 6px);
  background-position: 0px 8px, 0px -5px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
}
.test-description
{
  margin-left: 350px;
  padding: 9px 15px;
}